<div class="row">
  <div class="col-md-4">
    <h1>Product Details</h1>
    Name: {{product.name}}
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
    <p *ngIf="product.price">
      Price: {{ product.price | currency }}
    </p>
    <button (click)="addToCart(product)" class="btn btn-success">
      Add to cart
    </button>
  </div>
  <div class="col-12 col-md-8">
    <img class="img-fluid" src="https://picsum.photos/id/870/900/600"/>
  </div>
</div>


<div *ngIf="!product">
  <p>Product: {{productId}} Not Found!!!</p>
</div>

